@charset "UTF-8";
 @import url('https://fonts.googleapis.com/css?family=Exo+2|Noto+Sans+KR');
 
 /* reset */
 *{margin: 0;padding: 0;}
 body {font-size: 14px; font-family: 'Noto Sans KR', 'sans-serif';}
 /* 앞에서체 없으면 ,다음 서체 */
 li {margin: 0; padding: 0; list-style: none;}
 h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0;}
 a {text-decoration: none; color: inherit;} /*부모의 글자색 상속*/
 a img {border:none;}
 /* --------------------------------------------------------------
    // header 
 ----------------------------------------------------------------*/

 #wrap header { width: 100%; height: 100px; line-height: 100px;
    position: fixed; top: 0; left: 0; z-index: 999;
    background: rgba(0,0,0,0.2);
}

#wrap header .innerHeader {
    width: 1400px; height: 100%; margin: 0 auto;
    /* border:1px soild red; */
}
/* logo */
#wrap header .innerHeader h1.logo{float: left;}
#wrap header .innerHeader h1.logo img{margin-top: 25px;}

/* gnb */
#wrap header .innerHeader .gnb {float: left; margin-left: 120px;}
.gnb ul li{float: left; margin-right: 80px;}
.gnb ul li a{display: block; font-size: 16px; color: #fff; text-align: center;}
.gnb ul li a:hover,
.gnb ul li a:focus{color: #ff8342;}

/* tnb 텝네비게이션*/
#wrap header .innerHeader .tnb {
    float: right; margin-right: -24px;
}
.tnb ul li {float: left; margin-right: 25px;}
.tnb ul li a {display: block; font-size: 16px; color: #fff;}
.tnb ul li a:hover,
.tnb ul li a:focus {color: #ff8342;}



/* 아이콘 */
.tnb ul li:nth-child(1) a i,
.tnb ul li:nth-child(2) a i {
    font-size: 20px; 
    margin-right: 5px;
}

/* 제품검색아이콘 */
.tnb ul li:last-child a {
    display: block;
    border-radius: 30px;
    margin-top: 35px;
    border: 1px solid #fff;
    width: 130px; height: 32px; line-height: 32px;
    transition: .3s; /* 애니메이션 요소 */
    text-align: center;
}

.tnb ul li:last-child a i{margin-left: 5px;}

.tnb ul li:last-child a:hover,
.tnb ul li:last-child a:focus {
    background-color: #fff;
    color: #ff8342;
}

 /* --------------------------------------------------------------
    // main
 ----------------------------------------------------------------*/
 #wrap section.main{
 /* main은 section본인자리라 붙여야함 */
 width: 100%; height: 1000px;
 background: url("../images/vis_1.jpg")no-repeat center/cover;
 background-attachment: fixed; /*스크롤 올려도 배경고정*/
 position: relative; /*기준점*/
 min-width: 1400px; /* 모바일에서 웹페이지 볼때 반으로 쪼개져보임 방지*/
}

#wrap section.main .mainTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%); /* 확대해도 완벽한 중앙정렬 top,left,translate50맞춰주면 중앙*/
    color: #fff;
    text-align: center;
    letter-spacing: -1px;
    text-shadow: 0 0 5px rgba(0,0,0,0.5); /* x,y 그림자 퍼지는 강도 color .그림자*/
}
#wrap section.main .mainTitle h2{
    font-size: 47px; margin-bottom: 20px; /* h2기준으로 p와의 여백을 말함*/
    font-weight: normal; /*제목태그의 bold속성 해제*/
}
#wrap section.main .mainTitle p{
    font-size: 25px; margin-top: 50px;
    margin-bottom: 30px;
}

/* VIEW MORE btn */
.mainTitle a.view { display: block; width: 180px;
padding: 8px 0;
font-size: 16px;
margin: 0 auto;
border: 2px solid #fff; 
position: relative;
overflow: hidden;
border-radius: 40px;
}
.mainTitle a.view::after {
content:""; width: 0%;
height: 100%;
position: absolute; top: 0; left: 0;
background-color: rgba(255,255,255,0.4);
transition: .3s;
}
.mainTitle a.view:hover::after { width: 100%;}
.mainTitle a.view:focus::after {background-color: rgba(255,255,255,0.7);}
.mainTitle a.view i { margin-left: 5px;}

/* section.title -4ea */

.title {font-family: 'Exo 2', sans-serif;
color:black;
text-align: center;
}
.title h2 { font-size: 45px;
margin-bottom: 10px; font-weight: normal;
}
.title h2 span {color: #ff8342;}
.title p { font-size: 18px; color: #555;}

 /* --------------------------------------------------------------
    // about
 ----------------------------------------------------------------*/
 #wrap section.about {width: 100%; 
    background-color: #fff; padding: 80px 0;
    min-width: 1400px;
}
#wrap section.about ul {
    width: 1400px; margin: 50px auto;
    overflow: hidden;
}
#wrap section.about ul li {
    float: left; width: 33.3333%;
}
#wrap section.about ul li a { display: block;}
#wrap section.about ul li a p.scale {
    width: 100%; height: 369px; 
    overflow: hidden;
}
#wrap section.about ul li a p.scale img{ 
    width: 100%; height: auto; transition: .8s;}
#wrap section.about ul li a:hover p.scale img{
    transform: scale(1.2); /* 마우스 올렸을때 hover 120% 늘려주겠다. 그래서 확대되는것임*/
}

/* text */
#wrap section.about ul li a .text {
    padding: 30px;
}
#wrap section.about ul li a .text h3 {
    font-size: 20px;
    margin-bottom: 10px;

}
#wrap section.about ul li a .text p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* btn */
section.about ul li a .text p.more {
    font-weight: bold;
    padding-left: 40px;
    position: relative;
}
section.about ul li a .text p.more:hover::before {
    color: #fff;
    background-color: #ff8342;
    width: 30px; height: 30px;
    border-radius: 50%;
}
/* icon */
p.more::before {
    content:"\f178"; /* 역슬래시 icon의미 */
    width: 30px; height: 30px;
    background-color: #ff8342;
    border-radius: 50%;
    line-height: 30px;
    font-family: FontAwesome;;
    position: absolute; left: 0; padding-left: 0.4px;

}

 /* --------------------------------------------------------------
    // innovation
 ----------------------------------------------------------------*/

 #wrap section.innovation {
    width: 100%; 
    margin-bottom: 150px;
    min-width: 1400px;
 }

 #wrap section.innovation .imgBox{
    position: relative;
    width: 1400px; height: 540px;
    background: url("../images/product_1.jpg")no-repeat center/cover;
    margin: 50px auto;
 }
 #wrap section.innovation .imgBox .inner {
    position: absolute; left: 50%; bottom: -50px;
    transform: translateX(-50%);
    background-color: #3a3c4e;
    width: 80%;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
 }
 .inner h3 {
    background-color: #fff;
    padding: 25px 45px; /* 상하 좌우*/
    font-size: 18px;
    box-sizing: border-box; /* 본래 사이즈에 포함(padding,border) */
 }
 .inner h3 span {color: #ff8342;}
 .inner .bottom {
    padding: 35px 85px;
    color: #fff;
    line-height: 1.7; /*행간 단위em 1em은16px*/
    box-sizing: border-box;
    overflow: hidden;
 }
 .inner .bottom p{float: left; }
 .inner .bottom a{float: right; display: block;
padding: 7px 30px; background-color: #ff8342;
border-radius: 50px;
transition: .5s;

}

 .inner .bottom a:hover,
 .inner .bottom a:focus{ background-color: #f86010;}

  /* --------------------------------------------------------------
    // me (인재채용)
 ----------------------------------------------------------------*/

 #wrap section.me {
    width: 100%;
    background: url("../images/me.jpg")no-repeat center/cover;
    position: relative;
    padding: 80px 0;
    margin-bottom: 150px;
    min-width: 1400px;
 }
 #wrap section.me .list { width: 1400px; margin: 50px auto;
    border-top: 2px solid #000;
}
 
 #wrap section.me .list>ul {
    padding-left: 30px;
 }
 #wrap section.me .list>ul>li {
    padding: 30px 30px 30px 10px; /* 상,오,하,왼 */
    box-sizing: border-box;
 }
 #wrap section.me .list>ul>li:nth-child(1) {
    border-bottom: 1px solid #ddd;
    
 }
 #wrap section.me .list>ul>li h3 {
    position: relative;
    font-size: 18px;
    margin-top: 20px;
 }
 #wrap section.me .list>ul>li h3 span{
    color: #ff8342;
    position: absolute; left: -25px;
 }
 #wrap section.me .list>ul>li>p {
    line-height: 1.6; /* 행간 */
    margin-bottom: 20px;
 }
 /* btn */
 .list>ul>li>a {
    display: block; font-weight: bold;
    padding-right: relative;
    font-size: 16px;
 }
 /* 화살표 아이콘 */
 .list>ul>li>a span{
    position: absolute;
    top: 3px; margin-left: 5px; font-size: 14px;
    color: #ff8342;
 }

 .list .more i:hover {color: #666;}

 /* 상세리스트 */
 ul.in {margin-bottom: 30px;}
 ul.in li{margin-bottom: 10px; overflow: hidden;}
 ul.in li em {float: left; width: 12%;}
 ul.in li p {float: left; width: 88%;
position: relative;
}
 ul.in li p::before {content:'';
    width: 4px; height: 4px;
    background-color: #ff8342;
    position: absolute; left: -40px;
    top: 10px;
}

/* 한화인 채용사이트 버튼 */
#wrap section.me .button {
    position:absolute;
    left: 50%; top: 770px;
    transform: translate(-50% , -50%);
}
#wrap section.me .button a{
    display: block;
    background-color: #ff8432;
    padding: 7px 30px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    transition: .5s;
}
#wrap section.me .button a:hover,
#wrap section.me .button a:focus{ background-color: #f86010;}

 /* --------------------------------------------------------------
    // sns
 ----------------------------------------------------------------*/

 #wrap section.sns {
    width: 100%; margin-bottom: 60px;
    min-width: 1400px;
    height: 650px;
 }
 #wrap section.sns ul{
    width: 1400px;
    margin: 50px auto;
 }
 #wrap section.sns ul li {
    float: left; margin-right: 1.444%; width: 32.333%;
 }
 #wrap section.sns ul li:last-child {margin: 0;}
 #wrap section.sns ul li a{
    display: block;
    width: 100%;
    height: 100px;
 }
 #wrap section.sns ul li a p.ani{ width: 100%; height: 251px;
    overflow: hidden; position: relative;
}
 #wrap section.sns ul li a p.ani::before{
    content: ''; width: 0; height: 100%;
    transition: .5s; position: absolute; top: 0; left: 0;
    background-color: rgba(255,131,66,0.8);
 }
 #wrap section.sns ul li a p.ani img{ width: 100%;}
 #wrap section.sns ul li a:hover p.ani::before{ width: 100%;}

 /* hover시 blog 글씨 버튼 */

 a p.ani::after {opacity: 0;
    content: 'BLOG';
    font-family: 'Exo 2' , sans-serif;
    font-size: 15px; color: #fff;
    padding: 5px 30px;
    border-radius: 40px;
    border: 1px solid #fff;
    transition: .5s;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
 a:hover p.ani::after { opacity: 1;} /* 투명도100% */

 /* text */
 .snsBottom {width: 100%;
padding: 50px 0 20px 30px; box-sizing: border-box;}
 .snsBottom p.color {
    color: #ff8342;
    font-weight: normal;
 }
 .snsBottom p{ font-weight: bold; font-size: 18px;}
 .snsBottom p.time{
    font-weight: normal;
    font-size: 15px;
    margin-top: 30px; padding-left: 20px;
    color: #999;
 }
 /* 시계 아이콘 */
 .snsBottom p.time::before{
    content: '\f017';
    font-family: FontAwesome;
    font-size: 15px; position: absolute; left: 0; top: -3px;
    line-height: 30px;


 }

  /* --------------------------------------------------------------
    // footer
 ----------------------------------------------------------------*/

 #wrap footer {clear:both; width: 100%; 
    border-top: 1px solid #999;
    padding: 30px 0 50px 50px;
     box-sizing: border-box; 
     position: relative;min-width:1400px;}
   #wrap footer .footerInner {width: 1400px; position: absolute;
    left: 50%; top:50%; transform: translate(-50%, -50%);
     margin: 0 auto; margin-bottom: 50px;}

   #wrap footer .footerInner .blogo {float: left; margin-top: 10px;}

   #wrap footer .footerInner .copyright {float: left; margin: 10px 0 0 100px;}
   #wrap footer .footerInner .copyright p {color: #666;}
   #wrap footer .footerInner .copyright p a {color: #ff8342;}
   #wrap footer .footerInner .copyright p a:hover {color: #999;}
       
   #wrap footer .footerInner .blist {float: right; margin-top: 10px;}
   #wrap footer .footerInner .blist ul li {float: left; margin-left: 30px;}
   #wrap footer .footerInner .blist ul li a {color: #333;
     display: block; font-weight: bold;}
   #wrap footer .footerInner .blist ul li a:hover {color: #999;}
   
   /* 개인정보처리방침 */
   #wrap footer .footerInner .blist ul li:last-child a {color: #ff8342;}
   #wrap footer .footerInner .blist ul li:last-child a:hover {color: #999;}
   